---
layout: default
title: CT Web Developer - Adam Saucier
description: Adam Saucier's portfolio and writings about various arts, music, politics and other interests.
---

<div class="home">

  <h1>Welcome</h1>

  <p>
    Hi, I'm Adam Saucier. I'm a web developer in CT with a focus on accessibility and simplicity. I also enjoy writing about things that interest me and that might interest others, so this is where I'll do that.
  </p>

  <h2>Posts</h2>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>

</div>
